USE [master]
GO
/****** Object:  Database [Testing]    Script Date: 9/20/2017 11:03:05 AM ******/
CREATE DATABASE [Testing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Testing', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Testing.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Testing_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Testing_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Testing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Testing]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/20/2017 11:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [text] NULL,
	[phoneno] [text] NULL,
	[email] [varchar](max) NULL,
	[address] [text] NULL,
	[status] [text] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [name], [phoneno], [email], [address], [status]) VALUES (19, N'Joshua Okoro', N'08064505136', N'write2ndjoe@yahoo.com', N'here', N'ACTIVE')
INSERT [dbo].[Users] ([id], [name], [phoneno], [email], [address], [status]) VALUES (20, N'Okoro Chijindu', N'08090909090', N'speak2jojoe@yahoo.com', N'There', NULL)
INSERT [dbo].[Users] ([id], [name], [phoneno], [email], [address], [status]) VALUES (21, N'Josh CJ', N'09089898989', N'speak2jojoe@gmail.com', NULL, N'INACTIVE')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
